# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.db
*.sqlite3

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
uvicorn_error.log
uvicorn.log

# Telegram
bot.session
bot_kemas.db

# Md
*.md
!README.md
!readme.md